﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h1 class="text-center">Typing Test</h1>
	<div class="panel panel-default">
		<div class="panel-body">
			@Html.Partial("Settings")
			@Html.Partial("Test")
			@Html.Partial("Results")
		</div>
	</div>
</div>