﻿<div id="Results" class="form-horizontal" style="display: none;">
	<h3 class="text-center">Results</h3>
	<div class="form-group">
		<label class="control-label col-sm-2">Spent Time</label>
		<div class="col-sm-10">
			<p id="SpentTime" class="form-control-static"></p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Speed</label>
		<div class="col-sm-10">
			<p id="Speed" class="form-control-static"></p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Mistakes</label>
		<div class="col-sm-10">
			<p id="Mistakes" class="form-control-static"></p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="TryAgain" class="btn btn-primary">Try again</button>
		</div>
	</div>
</div>