﻿<div id="Settings" class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-2" for="Topic">Topic</label>
		<div class="col-sm-10">
			<select id="Topic" class="form-control"></select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<p id="TopicText" class="form-control-static"></p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="TimeLimit">Time Limit</label>
		<div class="col-sm-10">
			<select id="TimeLimit" class="form-control">
				<option value="1">1 minute</option>
				<option value="2">2 minutes</option>
				<option value="3">3 minutes</option>
				<option value="4">4 minutes</option>
				<option value="5">5 minutes</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="StartTestBtn" class="btn btn-primary">Start Test</button>
		</div>
	</div>
</div>