﻿<div id="Test" class="form-horizontal" style="display: none;">
	<div class="row">
		<div class="col-xs-12 col-sm-10">
			<textarea id="SourceText" class="form-control source-text" rows="10" readonly></textarea>
			<textarea id="TypingArea" class="form-control typing-area" rows="2" placeholder="Start to type your text here..."  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"></textarea>
		</div>
		<div class="col-xs-12 col-sm-2">
			<div class="row">
				<div class="col-xs-4 col-sm-12 text-center">
					<h4>Time left:</h4>
					<b id="TimeLeft" style="font-size: 20px;"></b>
				</div>
				<div class="col-xs-2 col-sm-12 text-center">
					<button id="StopBtn" class="btn btn-primary stop-btn">Stop</button>
				</div>
			</div>
		</div>
	</div>
</div>