﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<title>Typing Test</title>
	<script src="~/script/jquery.min.js"></script>
	<script src="~/script/bootstrap.min.js"></script>
	<script src="~/script/moment.min.js"></script>
	<script src="~/script/Global.js"></script>
	<link rel="stylesheet" href="~/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/Global.css"/>
</head>
<body>
<header class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Typing Test</a>
		</div>
	</div>
</header>
<div class="content">
	@RenderBody()
</div>
</body>
</html>