.content {
	max-width: 1000px;
	margin: 0 auto;
}

.source-text {
	resize: none;
	border-bottom: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.typing-area {
	resize: none;
	border-top: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

textarea:hover,
textarea:active,
textarea:focus {
	border-color: #cccccc !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.stop-btn {
	margin-top: 34px;
}